# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
env/
venv/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local DB
dev.db
*.sqlite3

# Logs & env
*.log
.env

# Alembic caches
alembic/__pycache__/
backend/**/__pycache__/
