# Python
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd

# Databases & local files
*.db
.env
.env.*
.alembic/
alembic/*.pyc

# Node / Frontend
node_modules/
dist/
.vercel/

# OS
.DS_Store
Thumbs.db

# Build outputs
*.log
coverage/
